@font-face {
    font-family: "San Francisco Display Medium";
    font-style: normal;
    font-weight: 400;
    src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
  }
  
body{
      /*font-family: 'Roboto', sans-serif;*/
     font-family: "San Francisco Display Medium";
      font-weight: 400;
      font-size: 14px;
      /*background-color: #f9f9f9;*/
      /*font-family: "Lato", sans-serif;*/
 transition: background-color .5s;
  } 
  
  h1{
      color: #fff !important;
      font-size: 100px;
      margin-top: -5vh;
      margin-left: 10%;
      line-height: 100px;
  }
  
  .form-top-margin{
      margin-top: 15vh;
  }
  
  .front-search{
      background: #9D8FBB  ;
      border-radius: 5px;
      /*margin-top: 25vh;*/
      width: 85%;
      min-height: 300px;
      margin-right: 15%;
      padding: 35px;
  }
  
  .front-search input{
      width: 100%;
      height: 50px;
      background-color: #f3f3f3;
      border: none;
      margin-bottom: 10px;
      text-indent: 50px;
      color: #3b3a3a;
      font-size: 16px;
      font-weight: 400;
  }
  
  .front-search select{
      width: 100%;
      height: 50px;
      background-color: #f3f3f3;
      border: none;
      margin-bottom: 10px;
      text-indent: 50px;
      color: #3b3a3a;
      font-size: 16px;
      font-weight: 400;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
      .front-search select{
      text-indent: 50px;	
  }
  }
  
  @-moz-document url-prefix() {
      .front-search select {
         text-indent: 25px;
      }
  }
  
  #doctor{
      background: url(../../images/searchIMG/doctor.jpg) no-repeat left center #f3f3f3;
  }
  
  #hospital{
      background: url(../../images/searchIMG/hospital.png) no-repeat left center #f3f3f3;
  }
  
  #spec{
      background: url(../../images/searchIMG/spec.png) no-repeat left center #f3f3f3;
  }
  
  #date{
      background: url(../../images/searchIMG/date.png) no-repeat left center #f3f3f3;
  }
  
  .front-search button{
      width: 100%;
      height: 50px;
      background: #00687f;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 17px;
      font-weight: 400;
      margin-top: 25px;
      margin-bottom: 0px;
  }
  
  
  
  
  @media only screen and (max-width: 770px) {
      h1{
      color: #fff !important;
      font-size: 80px;
      margin-top: 20%;
      margin-left: 0;
      line-height: 80px;
      text-align: center;
  }
  
  .form-top-margin{
      margin-top: 10%;
  }
  
  .front-search{
      background: #32254F;
      border-radius: 5px;
      /*margin-top: 20%;*/
      width: 100%;
      min-height: 300px;
      margin-right: 0;
      padding: 25px;
  }
  }
  
  @media only screen and (max-width: 420px) {
      h1{
      color: #fff !important;
      font-size: 30px;
      margin-top: 30%;
      margin-left: 0;
      line-height: 36px;
      text-align: center;
  }
  
  .form-top-margin{
      margin-top: 15%;
  }
  
  d{
      background: #fff;
      border-radius: 5px;
      /*margin-top: 15%;*/
      width: 100%;
      min-height: 300px;
      margin-right: 0;
      padding: 25px;
  }
  }
  
  /*@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }*/
  
  .inner-page-slider{
      width: 100%;
      height: 170px;
      background: url(../images/searchIMG/doctor.jpg) center center no-repeat;
      background-size: cover;
  }
  /*h2*/
  .inner-page-slider {
      color: #fff;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 300 !important;
      margin-top: 100px;
  }
  
  @media only screen and (max-width: 375px) {
      .inner-page-slider{
      width: 100%;
      height: 70px;
      background: url(../images/searchIMG/doctor.jpg) center center no-repeat;
      background-size: cover;
      margin-top: 60px;
  }
  
  .inner-page-slider {
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 300 !important;
      margin-top: 25px;
  }
  }
  
  .inner-search{
      background: #32254F;
      border-radius: 10px 5px;
      margin-top: 25px;
      width: 100%;
      min-height: 100px;
      margin-right: 0;
      padding: 15px;
      box-shadow: 0px 2px 2px #d9d9d9;
  }
  /* [type=text]*/
  .inner-search input[type=text]{
      width: 100%;
      height: 50px;
      background-color: #f3f3f3;
      border: none;
      margin-bottom: 10px;
      text-indent: 50px;
      color: #3b3a3a;
      font-size: 16px;
      font-weight: 400;
  }
  
  .inner-search select{
      width: 100%;
      height: 50px;
      background-color: #f3f3f3;
      border: none;
      margin-bottom: 10px;
      text-indent: 50px;
      color: #3b3a3a;
      font-size: 16px;
      font-weight: 400;
  }
  
  @-moz-document url-prefix() {
      .inner-search select {
         text-indent: 25px;
      }
  }
  
  #doctor{
      background: url(../../images/searchIMG/doctor.png) no-repeat left center #f3f3f3;
  }
  
  #hospital{
      background: url(../../images/searchIMG/hospital.png) no-repeat left center #f3f3f3;
  }
  
  #spec{
      background: url(../../images/searchIMG/spec.png) no-repeat left center #f3f3f3;
  }
  
  #date{
      background: url(../../images/searchIMG/date.png) no-repeat left center #f3f3f3;
  }
  
  .inner-search button{
      width: 100%;
      height: 50px;
      background: #00687f;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 17px;
      font-weight: 400;
      margin-top: 25px;
      margin-bottom: 0px;
  }
  
  .heading{
      width: 100%;
      height: auto;
      display: block;
      font-size: 30px;
      color: #3a3a3a;
      border-bottom: 1px solid #d2d2d2;
      padding-bottom: 5px;
      margin-top: 25px;
      margin-bottom: 10px;
          font-weight: bold;
  }
  
  .doctors-block{
      width: 48%;
      height: 110px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 2px 2px #d9d9d9;
      float: left;
      margin:5px 1%;
      padding: 15px;
      font-size: 14px;
      color: #00687f;
  }
  
  .doctors-block img{
      border-radius: 50%;
  }
  
  .doctors-block button{
      width: 100%;
      height: 32px;
      float: right;
      background: #00687f;
      color: #fff;
      border-radius: 5px;
      border: none;
      font-size: 15px;
  }
  
  .doctors-block strong{
      margin-left: 15px;
      font-size: 16px;
      color: #848484;
      display: block;
      font-weight: 500;
          text-transform: uppercase;
  }
  
  .doctors-block span{
      margin-left: 15px;
      display: block;
  }
  
  h3{
      font-size: 18px;
  }
  
  @media only screen and (max-width: 420px) {
      .doctors-block{
      width: 100%;
      height: auto;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 2px 2px #d9d9d9;
      float: left;
      margin:5px 0%;
      padding: 15px;
      font-size: 14px;
      color: #00687f;
  }
  
  .doctors-block strong{
      margin-left: 15px;
      font-size: 15px;
      color: #848484;
      display: block;
      font-weight: 500;
  }
  
  .doctors-block span{
      margin-left: 15px;
      display: block;
      font-size: 13px;
  }
  }
  
  
  .doctor-profile-block{
      background: #fff;
      border-radius: 10px 5px;
      margin-top: 25px;
      width: 100%;
      min-height: 100px;
      margin-right: 0;
      padding: 35px 15px 45px 15px;
      box-shadow: 0px 2px 2px #ececec;
      color: #575757;
      text-align: center;
  }
  
  .doctor-profile-block img{
      width: 35%;
      border-radius: 50%;
      float: none;
      margin:15px auto;
      display: block;
  }
  
  .doctor-profile-block h4{
      text-align: center;
      margin-bottom: 0px;
  }
  
  .doctor-profile-block span{
      text-align: center;
      font-size: 15px;
      color: #00687f;
      display: block;
  }
  
  
  @media only screen and (max-width: 420px) {
      .doctor-profile-block{
      background: #fff;
      border-radius: 10px 5px;
      margin-top: 25px;
      width: 100%;
      min-height: 100px;
      margin-right: 0;
      padding: 10px 15px 20px 15px;
      box-shadow: 0px 2px 2px #ececec;
      color: #575757;
      text-align: center;
  }
  
  .doctor-profile-block img{
      width: 15%;
      border-radius: 50%;
      float: none;
      margin:15px auto;
      display: block;
  }
  
  .doctor-profile-block h4{
      text-align: center;
      margin-bottom: 0px;
  }
  
  .doctor-profile-block span{
      text-align: center;
      font-size: 15px;
      color: #00687f;
      display: block;
  }
  }
  
  .session-block{
      width: 100%;
      height: auto;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 2px 2px #ececec;
      padding: 15px 20px;
      font-size: 16px;
      color: #636363;
      margin-bottom: 10px;
  }
  
  .session-block table span{
      text-transform: uppercase;
      font-size: 20px;
      color: #00687f;
      display: block;
  }
  
  .session-block table label{
      font-size: 30px;
      color: #00687f;
      display: block;
      text-align: center;
      padding: 0px;
      margin:-5px 0px 0px 0px;
  }
  
  .session-block button{
      width: 80px;
      height: 32px;
      float: right;
      background: #00687f;
      color: #fff;
      border-radius: 5px;
      border: none;
      font-size: 15px;
  }
  
  .holiday span{
      opacity: 0.3;
  }
  
  .holiday label{
      opacity: 0.3;
  }
  
  .holiday button{
      opacity: 0.3;
  }
  
  .session-full{
      color: #ff860b;
  }
  
  .session-full span{
      opacity: 0.3;
      color: #ff860b !important;
  }
  
  .session-full label{
      opacity: 0.3;
      color: #ff860b !important;
  }
  
  .session-full button{
      opacity: 0.3;
      background: #ff860b !important;
  }
  
  @media only screen and (max-width: 420px) {
      .session-block{
      width: 100%;
      height: auto;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 2px 2px #ececec;
      /*padding: 10px 15px;*/
      font-size: 13px;
      color: #636363;
      margin-bottom: 10px;
  }
  
  .session-block table span{
      text-transform: uppercase;
      font-size: 14px;
      color: #00687f;
      display: block;
  }
  
  .session-block table label{
      font-size: 20px;
      color: #00687f;
      display: block;
      text-align: center;
      padding: 0px;
      margin:-5px 0px 0px 0px;
  }
  
  .session-block button{
      width: 60px;
      height: 32px;
      float: right;
      background: #00687f;
      color: #fff;
      border-radius: 5px;
      border: none;
      font-size: 13px;
  }
  
  .session-full{
      color: #ff860b;
  }
  }
  
  @media only screen and (max-width: 320px) {
      .session-block{
      width: 100%;
      height: auto;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 2px 2px #ececec;
      padding: 10px 15px;
      font-size: 12px;
      color: #636363;
      margin-bottom: 10px;
  }
  
  .session-block table span{
      text-transform: uppercase;
      font-size: 12px;
      color: #00687f;
      display: block;
  }
  
  .session-block table label{
      font-size: 16px;
      color: #00687f;
      display: block;
      text-align: center;
      padding: 0px;
      margin:-5px 0px 0px 0px;
  }
  
  .session-block button{
      width: 50px;
      height: 32px;
      float: right;
      background: #00687f;
      color: #fff;
      border-radius: 5px;
      border: none;
      font-size: 13px;
  }
  
  .session-full{
      color: #ff860b;
  }
  }
  
  .booking-form{
      width: 100%;
      height: auto;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 2px 2px #ececec;
      padding: 30px 20px;
  }
  
  .booking-form h4{
  /*	text-transform: uppercase;*/
      font-size: 16px;
      color: #ff8513;
  }
  
  .booking-form .inputa[type=range]{
      width: 100%;
      height: 50px;
      background-color: #f3f3f3;
      border: none;
      margin-bottom: 0px;
      text-indent: 15px;
      color: #3b3a3a;
      font-size: 16px;
      font-weight: 400;
  }
  
  .booking-form select{
      width: 100%;
      height: 50px;
      background-color: #f3f3f3;
      border: none;
      margin-bottom: 0px;
      text-indent: 5px;
      color: #3b3a3a;
      font-size: 16px;
      font-weight: 400;
  }
  
  .form-inline{
      margin-bottom: 0px;
  }
  
  .booking-form button{
      width: 200px;
      height: 45px;
      background: #00687f;
      color: #fff;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      margin-top: 15px;
  }
  
  .form-inline .form-group {
      margin-right: 20px;
  }
  
  .input-group-addon {
      background-color: #28a6c2;
      border: 1px solid #4dbcd5;
  }
  
  .booking-form table td{
      padding-bottom: 20px;
  }
  
  .form-control-static {
      min-height: 44px;
  }
  
  .nationalty{
      font-weight: 400; 
      font-size: 16px; 
      padding-top: 9px; 
      background: #f3f3f3;
      border: 1px solid #f3f3f3; 
      box-shadow: none;
  }
  
  @media only screen and (max-width: 420px) {
      .booking-form{
      width: 100%;
      height: auto;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 2px 2px #ececec;
      padding: 20px 15px;
  }
  
  .booking-form h4{
      text-transform: uppercase;
      font-size: 14px;
      color: #ff8513;
      word-wrap: break-word;
  }
  
  .booking-form input{
      width: 100%;
      height: 50px;
      background-color: #f3f3f3;
      border: none;
      margin-bottom: 0px;
      text-indent: 15px;
      color: #3b3a3a;
      font-size: 13px;
      font-weight: 400;
      /*margin-left: 5px;*/
  }
  
  .booking-form select{
      width: 100%;
      height: 50px;
      background-color: #f3f3f3;
      border: none;
      margin-bottom: 0px;
      text-indent: 5px;
      color: #3b3a3a;
      font-size: 13px;
      font-weight: 400;
      /*margin-left: 5px;*/
  }
  
  .booking-form button{
      width: 100%;
      height: 45px;
      background: #00687f;
      color: #fff;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      margin-top: 10px;
      /*margin-left: 5px;*/
  }
  
  .form-inline .form-group {
      margin-right: 0px;
      /*margin-left: 5px;*/
  }
  
  .nationalty{
      font-weight: 400; 
      font-size: 14px; 
      padding-top: 12px; 
      background: #f3f3f3;
      border: 1px solid #f3f3f3; 
      box-shadow: none;
  }
  }
  
  .ui-menu .ui-menu-item-wrapper {
      position: relative;
      padding: 3px 1em 3px .4em;
      font-family: "San Francisco Display Medium" !important;
  }
  
  .ui-widget.ui-widget-content {
      border: 1px solid #c5c5c5;
      max-height: 250px;
      min-height: 30px;
      height: auto;
      overflow-y: scroll;
      overflow-x: hidden;
  }
  
  
  
  .dropdown-menu {
      position: absolute;
      /*top: 100%;*/
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
  
  .m-price{
      text-align: right;
      color: #ff860b;
      /*padding-right: 10px;*/
      text-decoration: none;
  }
  
  
  
  
  
  
  /* Section Padding */


  .section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px; }
  
  .section-padding-10010 {
    padding-top: 100px;
    padding-bottom: 0px; }
  
  .section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0; }
  
  .section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px; }
    
  .section-padding-100-7010 {
    padding-top: 0px;
    padding-bottom: 70px; }
  
  .section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px; }
  
  .mb-100 {
    margin-bottom: 100px !important; }

 
  
  
  
  
  
  
  
  
  
  
  
  /*  
  }*/
  /*
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15vh;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 11vh;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s -20vh;
    padding: 130px;
    margin-left: -20vh;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }*/