/*

Highway Template

https://templatemo.com/tm-520-highway

*/

body {
    font-family: 'Kanit', sans-serif;
  }
  
  
  body, html {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
  }
  
  
  .page-heading {
    
    background-image: url(/img/heading_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    text-align: center;
  }
  
  .page-heading .heading-content h1 {
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    background-color: rgba(250,250,250,0.1);
    display: inline-block;
    margin-bottom: 0;
    margin-top: 220px;
    padding: 20px 60px;
  }
  
  .page-heading .heading-content em {
    font-style: normal;
    font-weight: 200;
  }
  
  
  
  